@import "compass/css3/images"
@import "compass/css3/background-size"

body
	font-family: "Museo Sans"
	color:  #999
	overflow: hidden
	margin: 0px
	
#bg
	+background-image(url('../images/zebra.svg'))
	+background-size(cover)
	position: absolute

.page
	width:  100%
	height:  500px