/* line 5, ../sass/new.sass */
body {
  font-family: "Museo Sans";
  color: #333333;
  overflow: hidden;
  margin: 0px;
}

/* line 11, ../sass/new.sass */
#bg {
  background-image: url("../images/zebra.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}

/* line 16, ../sass/new.sass */
.page {
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/new.sass */
.content {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
}

/* line 27, ../sass/new.sass */
div[class$="-link"] {
  background-color: #cccccc;
  position: absolute;
}
/* line 30, ../sass/new.sass */
div[class$="-link"] > p {
  text-align: center;
  text-transform: uppercase;
}

/* line 34, ../sass/new.sass */
.top-link, .bottom-link {
  width: 200px;
  left: 50%;
  margin-left: -100px;
}

/* line 39, ../sass/new.sass */
.top-link {
  top: 0px;
}

/* line 42, ../sass/new.sass */
.bottom-link {
  bottom: 0px;
}

/* line 45, ../sass/new.sass */
.left-link, .right-link {
  height: 9em;
  top: 50%;
  margin-top: -100px;
  padding: 1em;
}
/* line 50, ../sass/new.sass */
.left-link > p, .right-link > p {
  text-align: center;
}

/* line 54, ../sass/new.sass */
.videos-link > p, .photos-link > p {
  width: 1em;
}

/* line 57, ../sass/new.sass */
.right-link {
  right: 0px;
}

/* line 60, ../sass/new.sass */
.left-link {
  left: 0px;
}

/* line 65, ../sass/new.sass */
.prev-link.left-link > p, .prev-link.right-link > p {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 69, ../sass/new.sass */
#who {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
}
/* line 72, ../sass/new.sass */
#who .content {
  background-color: rgba(255, 255, 255, 0);
}
