/* line 6, ../sass/new.sass */
body {
  font-family: "Museo Sans";
  color: #333333;
  overflow: hidden;
  margin: 0px;
}

/* line 12, ../sass/new.sass */
#bg {
  background-image: url("../images/zebra.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}

/* line 17, ../sass/new.sass */
.page {
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/new.sass */
.content {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  position: absolute;
  bottom: 0px;
}

/* line 30, ../sass/new.sass */
#videos > .content, #photos > .content {
  height: 100%;
}

/* line 35, ../sass/new.sass */
div[class$="-link"] {
  background-color: #cccccc;
  position: absolute;
}
/* line 38, ../sass/new.sass */
div[class$="-link"] > p {
  text-align: center;
  text-transform: uppercase;
}

/* line 42, ../sass/new.sass */
.top-link, .bottom-link {
  width: 200px;
  left: 50%;
  margin-left: -100px;
}

/* line 47, ../sass/new.sass */
.top-link {
  top: 0px;
}

/* line 50, ../sass/new.sass */
.bottom-link {
  bottom: 0px;
}

/* line 53, ../sass/new.sass */
.left-link, .right-link {
  height: 9em;
  top: 50%;
  margin-top: -100px;
  padding: 1em;
}
/* line 58, ../sass/new.sass */
.left-link > p, .right-link > p {
  text-align: center;
}

/* line 62, ../sass/new.sass */
.videos-link > p, .photos-link > p {
  width: 1em;
}

/* line 65, ../sass/new.sass */
.right-link {
  right: 0px;
}

/* line 68, ../sass/new.sass */
.left-link {
  left: 0px;
}

/* line 73, ../sass/new.sass */
.prev-link.left-link > p, .prev-link.right-link > p {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 78, ../sass/new.sass */
.subsection {
  height: 100%;
  position: relative;
}

/* line 83, ../sass/new.sass */
.bottom > .subsection-clicky, .top > .subsection-clicky {
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
}
/* line 91, ../sass/new.sass */
.bottom > .subsection-clicky > p, .top > .subsection-clicky > p {
  text-align: center;
  margin-top: -0.5em;
}

/* line 95, ../sass/new.sass */
.bottom > .subsection-clicky {
  -moz-border-radius-topleft: 100px;
  -webkit-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -moz-border-radius-topright: 100px;
  -webkit-border-top-right-radius: 100px;
  border-top-right-radius: 100px;
}
/* line 97, ../sass/new.sass */
.bottom > .content {
  top: 100px;
}

/* line 100, ../sass/new.sass */
#who {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 40%);
}
/* line 103, ../sass/new.sass */
#who .content {
  background-color: rgba(255, 255, 255, 0);
}
